@import url('https://fonts.googleapis.com/css2?family=Mont-Heavy:opsz,wght@6..72,500;6..72,600&display=swap');


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Verdana, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;    
  background-image: url('../public/lohp_1302x955.png');
}

* {
  box-sizing: border-box;
}